body {
    background-color: rgb(34, 34, 34);
    color: rgb(224, 224, 224);
    font-size: 2.2vh;
    font-family: 'Arial';
}
button {
    background-color: rgb(53, 53, 53);
    color: rgb(224, 224, 224);
}
button:hover {
    background-color: rgb(70, 70, 70);
}
#start-button {
    margin: 0 auto;
    border: none;
    font-size: 4vh;
    height: 10vh;
    width: 20vh;
}
#guess-buttons {
    margin: 0 auto;
    width: 90%;
    max-width: 40vh;
}
#guess-button {
    height: 10vh;
    width: 10vh;
    font-size: 4vh;
    border: none;
    margin: 1vh 1vh;
}
#guess-area{
    text-align: center;
}
#date {
    text-align: center;
    font-size: 5vh;
}
#statistics {
    display: flex;
    flex-direction: column;
    position:absolute;
    bottom: 0;
    height: 80vh;
    width: 30vh;
    max-height: 80vw;
    min-height: 40vh;
    overflow: hidden;
    text-align: center;
    box-sizing: content-box;
}
#stats {
    top:0;
    width: 100%;
}
#stats-table {
    border: 1px solid rgb(83, 83, 83);
    width: 100%;
    table-layout: fixed;
}
#results {
    flex: 1;
    width: 100%;
    overflow-y: auto;
}
#results::-webkit-scrollbar {
    display: none;
}
#results-table {
    border: 1px solid rgb(83, 83, 83);
    width: 100%;
}
.row-type-0 {
    background-color: rgb(51, 51, 51);
}
.row-type-1 {
    background-color: rgb(66, 66, 66);
}
.row-type-0:hover {
    background-color: rgb(100, 100, 100);
}
.row-type-1:hover {
    background-color: rgb(100, 100, 100);
}
select {
    background-color: rgb(83, 83, 83);
    color: rgb(224, 224, 224);
}
#settings {
    position: absolute;
    left: 15vw;
    top: 15vh;
    background-color:rgb(41, 41, 41);
    opacity: 0.8;
    height: 70vh;
    width: 70vw;
}
#settings-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    opacity: 0.3;
}
#settings-button {
    border: none;
    font-size: 2.2vh;
}
#language-setting {
    font-size: 2.2vh;
}
.setting {
    display:flex;
    flex-direction: row;
}
[hidden] {
    display: none !important;
  }